.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 98vh;

}

.container {
  padding: 40px;
  border: 1px solid grey;

  text-align: center;
}

.btn {
  padding: 10px;
  margin: 10px;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  font-size: 3rem;
}

.todo-list {
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid grey;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
}